{% extends 'SuperAdmin_index.html'%}
{% block content %}
{% load static %}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="col-12 d-flex pb-1">
            <div class="col-6 p-0 my-auto ">
              <h3 class="card-title">  
                {{booking1.fullname}}
                Booking Requests</h3>
            </div>
        
          </div>
          <input type="text" class="form-control my-2" id="myInput" onkeyup="myFunction()"
            placeholder="Search for names.." title="Type in a name">
          <div class="table-responsive">
            <table class="table table-hover" >
              <thead>
                <tr>
                  <th>Sl.No</th>
                  <th>Date</th>
                  <th>From Time</th>
                  <th>To Time</th>
                  <th>Trainer</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for i in booking %}
                
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{i.fromdate|date:'d-m-Y'}}</td>
                  <td>{{i.fromtime}}</td>
                  <td>{{i.totime}}</td>
                  <td>
                    {% for j in trainer %}
                    {% if i.trainer_id == j.id %}
                    {{j.fullname}}</td>
                    {% endif %}
                    {% endfor %}
                  <td>
                    {% if i.status == "request" %}
         <button type="button" class="btn btn-warning">Pending</button></a>

                  {% elif i.status == "Booked" %}
                  <button type="button" class="btn btn-primary">Booked</button>
                  {% elif i.status == "Rejected" %}
                  <button type="button" class="btn btn-danger">Rejected</button>
                  {% endif  %}
                 
                  </td>
                 
                   
                    <td>
                   
                  {{i.reason}}
                  
                  </td>
                 
                
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>







<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>


{% endblock %}